* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: #92ffd0;
}

h2 {
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    -webkit-transition: all .2s;
    transition: all .2s;
}


h2:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 20%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 420px;
    box-sizing: border-box;
    overflow-y: scroll;
}


body .todos::-webkit-scrollbar {
    display: none;
  }
  
  body .digital-clock .columns {
    -ms-overflow-style: none;
  }
  
.absolute {
      position: absolute;
      left: 97.5%;
      top: -13px;
      border-radius: 50%;
      background: red;
      width: 20px;
      height: 20px;
      padding: 0px 5px;
      cursor: default;
  }

    
.absolute:hover {
    visibility: visible;
    background-color: aliceblue;
}
.todos span {
    min-width: 400px;
    min-height: 60px;
    padding: 5px 10px;
    line-break: loose;
    word-break:break-all;
    font-size: 17px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(71, 67, 67);
}


.todos span:first-child {
    margin-top: 15px;
}
.todos--item {
  position: relative;
}

.data {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.data input,
.data button  {
    height: 60px;
    border:  1px solid gray;
    border-radius: 5px;
}


.data input  {
    width: 300px;
    padding: 10px;
    border: 1px solid gray;
}


.data input:active,
.data input:focus  {
    outline: none;
}
.data button {
    width: 75px;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 0 2px 2px gray;
    background: #68f0ac;
}